// It's highly recommended to change the default colors
// to match your app's branding.


$breakpoint-xs: 576px !default; //599px
$breakpoint-sm: 768px !default; //1023px
$breakpoint-md: 992px !default; //1439px
$breakpoint-lg: 1200px !default; //1919px


$primary   : #418163;
$secondary : #26A69A;
$accent    : #9C27B0;

$dark      : #1D1D1D;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

@import '~quasar-variables-styl'
